.google-user-account-container
  .user-avatar-container
    img.user-avatar( src="https://img.icons8.com/bubbles/50/000000/user.png")
  .user-name-and-email
    .user-name  Puzant Bakjejian
    .user-email PBAKJEJIAN@hotmail.com
  .manage-your-account-button Manage your Google Account
  .card-seperator
  .other-user-google-accounts-contaienr
    .other-user-account-container
      .user-avatar-contaienr
        img.user-other-account-avatar( src="https://img.icons8.com/ultraviolet/40/000000/user.png" )
      .user-name-and-email-container
        .user-name John Apple
        .user-email John@something.com
    .other-user-account-container
      img.user-other-account-avatar( src="https://img.icons8.com/ultraviolet/40/000000/user.png" )
      .user-name-and-email-container
        .user-name James Tangerin
        .user-email JamesTangerning@something-else.com
    .add-another-account-container
      img.add-another-account-avatar(src="https://img.icons8.com/bubbles/50/000000/add-user-male.png")
      .another-account-text Add another account
  .card-seperator
  .sign-of-all-accounts Sign out of all accounts
  .card-seperator
  .privacy-and-policy-container
    span.privacy-text Privcy Policy 
    span • 
    span.terms-text Terms of Servcie
    
  
      